@import './_variables.scss';

h6,p, h2 {
  &.__op-7 {
    opacity: 0.7;
  }
    &.__white {
    color: $main-white;
  }
}

.meta-icon {
  color: black;
  cursor: pointer;

  &.__white {
  color: $main-white;
  }

  i {
    font-size: 20px;
    vertical-align: middle;
  }

  p {
    display: inline-block;
    font-size: 15px;
  }
}